go 1.23.3

use (
	./hermes
	./src/calcHermesBatch
	./src/calcSoil
	./src/climatefileconverter
	./src/cropfileconverter
	./src/hermes2go
	./src/hermes_service
	./src/hermes_service/capnp/hermes_service_capnp
	./src/producer_consumer
	./src/ptf_testing
	./src/renderservice
	./src/config_editor_ui
)
