go 1.19

use (
    ./src/hermes2go
    ./src/renderservice
    ./hermes
    ./src/calcHermesBatch
    ./src/ptf_testing
    ./src/climatefileconverter
    ./src/calcSoil
    ./src/cropfileconverter
)
